
<div class="span5 offset4 boxy text-center">
	
	<h1 class="h1-custom">Parth's photoblog</h1>

	
	<h2 class="h2-custom">Travel with me!</h2>

	<br/>
	
	<%= link_to 'Launch', pics_path, :class => 'btn btn-success btn large'   %>

</div>