
<div class="span6 offset4 boxy text-center">
	
	<h1 class="h1-custom">Hi I'am Parth</h1>

	<br/>

	<h2>I'm having a lot of fun learning web development</h2>

	<br/>
	<br/>

	<%= link_to 'Launch', '#', :class => 'btn btn-warning btn large'   %>

</div>